/* template-color */

.preloader-close{
	color: #a9774e;
}

.header-top .top-inner .info-list li i{
	color: #a9774e;
}

.header-top .social-links li a:hover{
  color: #a9774e;
}

.header-top .social-links li i{
	color: #a9774e;
}

.header-top .option-list li a:hover{
  color: #a9774e;
}

.header-top .option-list li i{
	color: #a9774e;
}

.main-header .nav-toggler:hover{
  color: #a9774e;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  color: #a9774e;
}

.main-header .menu-right-content .language-box .language-dropdown{
	border-top: 2px solid #a9774e;
}

.main-header .menu-right-content .language-box .language-dropdown li button:hover{
  color: #a9774e;
}

.theme-btn.btn-one:hover{
  background: #a9774e;
}

.sidebar-menu > li > a:hover{
  color: #a9774e;
}

.sidebar-menu > li.dropdown ul li a:hover{
  color: #a9774e;
}

.xs-sidebar-group .content-inner .info-box h3 a{
	color: #a9774e;
}

.sidebar-menu:before,
.sidebar-menu:after{
	background: #a9774e;
}

.banner-carousel .content-box .special-text{
	color: #a9774e;
}

.banner-carousel .content-box .btn-box a:hover{
	background: #a9774e;
}

.banner-carousel .content-box .btn-box a i{
	color: #a9774e;
}

.banner-section .owl-nav button:hover{
  color: #a9774e;
}

.search-room-inner .search-content .form-group button:hover{
  background: #a9774e;
}

.content_block_one .content-box .text .designation span{
	color: #a9774e;
}

.content_block_two .content-box .upper-box .text h2{
	color: #a9774e;
}

.content_block_two .content-box .curved-circle{
	color: #a9774e;
}

.sec-title .sub-title{
	color: #a9774e;
}

.content_block_two .content-box .lower-content .list-item li i{
	background: #a9774e;
}

.content_block_two .content-box .lower-content .link a:hover{
  color: #a9774e;
}

.room-tab .p-tab .image-box .link a i{
	color: #a9774e;
}

.room-tab .p-tab .image-box .link a:hover{
  background: #a9774e;
}

.room-tab .tab-btns li.active-btn h3{
	color: #a9774e;
}

.room-tab .tab-btns li a{
	background: #a9774e;
}

.room-tab .tab-btns li a:hover{
	color: #a9774e;
}

.room-block-one .inner-box .image-box .view-btn a:hover{
  background: #a9774e;
}

.room-block-one .inner-box .image-box .view-btn-2 a{
	background: #a9774e;
}

.room-block-one .inner-box .image-box .title h3 a{
	color: #a9774e;
}

.popular-rooms-section .owl-nav button span{
	color: #a9774e;
}

.popular-rooms-section .owl-nav button:after{
	background: #a9774e;
}

.popular-rooms-section .more-btn .theme-btn:hover{
  background: #a9774e;
}

.experience-section .bg-layer:before{
	background: #a9774e;
}

.experience-section .text-inner .icon-box{
	color: #a9774e;
}

.experience-block-one .inner-box span{
	color: #a9774e;
}

.experience-block-one .inner-box h3 a:hover{
  color: #a9774e;
}

.experience-block-one .inner-box .link a{
	color: #a9774e;
}

.nav-style-one button:hover{
	background: #a9774e;
}

.chooseus-block-one .inner-box .icon-box{
	color: #a9774e;
}

.chooseus-block-one .inner-box h3:before{
	background: #a9774e;
}

.pricing-block-one .pricing-table .price h2{
	color: #a9774e;
}

.pricing-block-one .pricing-table .link-box a i{
	color: #a9774e;
}

.pricing-block-one .pricing-table .link-box a:hover{
  color: #a9774e;
}

.testimonial-block-one .inner-box:before,
.testimonial-block-one .inner-box:after{
	background: #a9774e;
}

.testimonial-block-one .inner-box .static-content .thumb-inner .icon-box{
	color: #a9774e;
}

.testimonial-block-one .inner-box .author-box .designation{
	color: #a9774e;
}

.testimonial-section .owl-nav button:after{
	background: #a9774e;
}

.testimonial-section .owl-nav button span{
	color: #a9774e;
}

.news-block-one .inner-box .image-box .category a{
	background: #a9774e;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #a9774e;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
	color: #a9774e;
}

.news-block-one .inner-box .lower-content .post-info li:first-child a{
  color: #a9774e;
}

.news-section .sec-title .theme-btn:hover{
  background: #a9774e;
}

.contact-section .inner-box{
	background: #a9774e;
}

.main-footer a:hover{
  color: #a9774e;
}

.main-footer .logo-widget .rating-box .rating-list .rating{
	background: #a9774e;
	border: 1px solid #a9774e;
}

.main-footer .logo-widget .rating-box .rating-list .rating-5:before{
	background: #a9774e;
}

.main-footer .logo-widget .btn-box a:hover{
  color: #a9774e;
}

.main-footer .logo-widget .btn-box a i{
  color: #a9774e;
}

.main-footer .contact-widget form .form-group button{
	background: #a9774e;
}

.main-footer .contact-widget .social-box .social-list:before{
	background: #a9774e;
}

.footer-bottom .bottom-inner .copyright p a{
  color: #a9774e;
}

.scroll-top .text i{
	color: #a9774e;
}


/** home-2 **/

.header-style-two .header-top .rating-box .rating-list .rating{
	background: #ab6034;
	border: 1px solid #ab6034;
}

.header-style-two .header-top .rating-box .rating-list .rating-5:before{
	background: #ab6034;
}

.header-style-two .header-top .rating-box p a:hover{
  color: #ab6034;
}

.header-style-two .header-top .top-left .link-box a:hover{
  color: #ab6034;
}

.header-style-two .header-top .top-left .link-box a i{
	color: #ab6034;
}

.header-style-two .header-top .top-right .subscribe-link .icon-box{
	color: #ab6034;
}

.header-style-two .header-top .social-links li i{
  color: #ab6034;
}

.header-style-two .header-top .social-links li a:hover{
  color: #ab6034;
}

.header-style-two .header-top .top-right .subscribe-link p a:hover{
  color: #ab6034;
}

.header-style-two .main-menu .navigation > li > ul > li > a:hover, 
.header-style-two .main-menu .navigation > li > .megamenu li > a:hover{
	color: #ab6034;
}

.header-style-two .header-lower .menu-right-content .search-box-outer:hover .icon-box{
  color: #ab6034;
}

.header-style-two .header-lower .menu-right-content .user-box a:hover{
  color: #ab6034;
}

.header-style-two .header-lower .button-box .theme-btn:hover{
  background: #ab6034;
}

.home_2 .sidebar-menu > li > a:hover{
	color: #ab6034;
}

.home_2 .sidebar-menu > li.dropdown ul li a:hover{
	color: #ab6034;
}

.home_2 .sidebar-menu:before, 
.home_2 .sidebar-menu:after{
	background: #ab6034;
}

.home_2 .xs-sidebar-group .content-inner .info-box h3 a{
	color: #ab6034;
}

.header-style-two .menu-right-content .language-box .language-dropdown{
	border-color: #ab6034;
}

.header-style-two .menu-right-content .language-box .language-dropdown li button:hover{
	color: #ab6034;
}

.header-style-two .header-lower .nav-toggler:hover{
	color: #ab6034;
}

.banner-carousel .content-box p:before{
	background: #ab6034;
}

.banner-style-two .owl-nav button:hover{
  color: #ab6034;
}

.banner-style-two .owl-theme .owl-dots .owl-dot.active span,
.banner-style-two .owl-theme .owl-dots .owl-dot span:hover{
  background: #ab6034;
  border-color: #ab6034;
}

.banner-style-two .search-room-inner .search-content .form-group button{
	background: #ab6034;
}

.home_2 .banner-carousel .content-box .btn-box a:hover{
	background: #ab6034;
}

.about-style-two .image-box .text-inner{
	background: #ab6034;
}

.home_2 .sec-title .sub-title{
	color: #ab6034;
}

.home_2 .about-style-two .content-box .text h3:last-child{
  color: #ab6034;
}

.home_2 .about-style-two .content-box .text h3 a{
	color: #ab6034;
}

.home_2 .about-style-two .content-box .btn-box .theme-btn:hover{
  background: #ab6034;
}

.home_2 .theme-btn.btn-one:hover{
	background: #ab6034;
}

.home_2 .nav-style-one button:hover{
	background: #ab6034;
}

.home_2 .room-block-two .inner-box .image-box .btn-box a{
	background: #ab6034;
}

.home_2 .room-block-two .inner-box .lower-content h3 a:hover{
	color: #ab6034;
}

.home_2 .popular-rooms-two .owl-nav button:hover{
	background: #ab6034;
	border-color: #ab6034;
}

.home_2 .highlights-section .content-box .overlay-content .icon-box{
  color: #ab6034;
}

.home_2 .highlights-section .content-box .overlay-content a:hover{
  color: #ab6034;
}

.home_2 .experience-style-two .single-item .icon-box{
	color: #ab6034;
}

.home_2 .location-section .tab-btns li:after{
	border: 7px solid #ab6034;
}

.home_2 .location-section .tabs-content .image-box .text a:hover{
  color: #ab6034;
}

.home_2 .testimonial-block .inner-box .rating li{
	color: #ab6034;
}

.home_2 .testimonial-block .author-box .designation{
	color: #ab6034;
}

.home_2 .gallery-block-one .inner-box .view-btn a:hover{
	background: #ab6034;
}

.home_2 .gallery-block-one .inner-box .title-text h3 a:hover{
  color: #ab6034;
}

.home_2 .news-block-two .inner-box .text-inner .category a:hover{
  color: #ab6034;
}

.home_2 .news-block-two .inner-box .text-inner .category:before{
	background: #ab6034;
}

.home_2 .news-block-two .inner-box .text-inner .category:after{
	background: #ab6034;
}

.home_2 .news-block-two .inner-box .text-inner h3 a:hover{
  color: #ab6034;
}

.home_2 .news-block-two .inner-box .lower-box .post-info li:first-child a{
	color: #ab6034;
}

.home_2 .news-block-two .inner-box .lower-box .post-info li a:hover{
	color: #ab6034;
}

.home_2 .funfact-block-one .inner-box .count-outer{
	color: #ab6034;
}

.home_2 .footer-style-two .nav-widget .nav-list li a:hover{
  color: #ab6034;
}

.home_2 .footer-style-two .links-widget .links-list li a:hover{
  color: #ab6034;
}

.home_2 .footer-style-two .social-links li a:hover{
	background: #ab6034;
}

.home_2 .footer-style-two .copyright p a{
  color: #ab6034;
}

.home_2 .scroll-top .text i{
	color: #ab6034;
}


/** home-3 **/

.header-style-three .nav-toggler:hover{
	color: #e4562e;
}

.header-style-three .main-menu .navigation > li > ul > li > a:hover, 
.header-style-three .main-menu .navigation > li > .megamenu li > a:hover{
	color: #e4562e;
}

.header-style-three .menu-right-content .search-box-outer .icon-box:hover{
  color: #e4562e;
}

.home_3 .theme-btn.btn-two:hover:before,
.home_3 .theme-btn.btn-two:hover:after{
 background: #e4562e;
}

.theme-btn.btn-two:hover{
	background: #e4562e;
	border-color: #e4562e;
}

.home_3 .sidebar-menu > li > a:hover{
	color: #e4562e;
}

.home_3 .sidebar-menu > li.dropdown ul li a:hover{
	color: #e4562e;
}

.home_3 .sidebar-menu:before, 
.home_3 .sidebar-menu:after{
	background: #e4562e;
}

.home_3 .xs-sidebar-group .content-inner .info-box h3 a{
	color: #e4562e;
}

.banner-style-three .banner-carousel .content-box p:before{
	background: #e4562e;
}

.banner-style-three .owl-nav button:hover{
  background: #e4562e;
  border-color: #e4562e;
}

.home_3 .banner-style-three .search-room-inner .theme-btn{
	background: #e4562e;
	border-color: #e4562e;
}

.banner-style-three .search-room-inner .theme-btn:before,
.banner-style-three .search-room-inner .theme-btn:after{
  background: #e4562e;
}

.home_3 .sec-title .sub-title{
	color: #e4562e;
}

.home_3 .top-style-section .tab-btn-box .tab-btns li.active-btn h3{
	color: #e4562e;
}

.home_3 .top-style-section .tab-btn-box .tab-btns li a:hover{
  background: #e4562e;
}

.home_3 .room-block-three .inner-box .lower-content h3 a:hover{
  color: #e4562e;
}

.home_3 .room-block-three .inner-box .lower-content .link a i{
	color: #e4562e;
}

.home_3 .room-block-three .inner-box .lower-content .link a:hover{
	color: #e4562e;
}

.home_3 .room-block-three .inner-box .lower-content .other-content h3{
	color: #e4562e;
}

.home_3 .room-block-three .inner-box .lower-content .other-content .rating a:hover{
  color: #e4562e;
}

.home_3 .gallery-block-one .inner-box .view-btn a:hover{
	background: #e4562e;
}

.home_3 .nav-style-one button:hover{
	background: #e4562e;
}

.home_3 .feature-block-one .inner-box .icon-box{
	color: #e4562e;
}

.home_3 .feature-block-one .inner-box .link a:hover{
  color: #e4562e;
}

.home_3 .experience-style-three  .content-box .inner-box .acc-btn span{
	color: #e4562e;
}

.home_3 .offers-block-one .inner-box .lower-content .text span{
	color: #e4562e;
}

.home_3 .offers-block-one .inner-box .lower-content h3 a:hover{
  color: #e4562e;
}

.home_3 .destination-section .location-box .single-item .box a i{
	color: #e4562e;
}

.home_3 .destination-section .location-box .single-item .box a:hover{
  color: #e4562e;
}

.home_3 .testimonial-style-three .special-text{
	color: #e4562e;
}

.home_3 .testimonial-style-three .testimonial-content .rating li{
	color: #e4562e;
}

.home_3 .testimonial-style-three .testimonial-content .author-box .designation{
	color: #e4562e;
}

.home_3 .testimonial-style-three .owl-nav button:after{
	background: #e4562e;
}

.home_3 .testimonial-style-three .owl-nav button span{
	color: #e4562e;
}

.home_3 .news-style-three .content-box .form-inner .form-group input:focus{
  border-color: #e4562e !important;
}

.home_3 .news-style-three .custom-control.material-checkbox .material-control-indicator{
	border: 1px solid #e4562e;
}

.home_3 .news-style-three .custom-control.material-checkbox .material-control-indicator:before{
	background: #e4562e;
}

.home_3 .news-style-three .content-box .sec-title h2:before{
	background: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner .post-info li a:hover{
	color: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner .post-info li:first-child a{
	color: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner .category a{
	background: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner h3 a:hover{
  color: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner .link a:hover{
	color: #e4562e;
}

.home_3 .news-block-three .inner-box .content-inner .link a i{
	color: #e4562e;
}

.home_3 .footer-bottom .bottom-inner .copyright p a{
	color: #e4562e;
}

.home_3 .footer-style-three a:hover{
  color: #e4562e;
}

.home_3 .footer-style-three .logo-widget .theme-btn:hover{
	border-color: #e4562e;
}

.home_3 .footer-style-three .contact-widget .download-apps li a:hover{
  border-color: #e4562e;
  background: #e4562e;
}

.home_3 .footer-style-three .contact-widget .social-links:before{
	background: #e4562e;
}

.home_3 .scroll-top .text i{
	color: #e4562e;
}


/** inner-pages **/

.about-style-three .content-box .inner-box .text p span{
	color: #a9774e;
}

.about-style-three .content-box .inner-box .single-item p i{
	color: #a9774e;
}

.about-style-three .content-box .tab-btns:before{
	background: #a9774e;
}

.history-section .history-list .single-item h3 a:hover{
  color: #a9774e;
}

.history-section .content-box .image-box .special-text{
	color: #a9774e;
}

.history-section .owl-nav button:hover{
  border-color: #a9774e;
}

.team-block-one .inner-box .image-box .social-inner .social-links{
	background: #a9774e;
}

.team-block-one .inner-box:hover .image-box{
	border-color: #a9774e;
}

.team-block-one .inner-box .lower-content h3 a:hover{
  color: #a9774e;
}

.team-section .owl-nav button:hover{
	border-color: #a9774e;
}

.funfact-section.light-section .funfact-block-one .inner-box .count-outer{
  color: #a9774e;
}

.faq-sidebar .category-list li a i{
	color: #a9774e;
}

.faq-sidebar .category-list li a.current,
.faq-sidebar .category-list li a:hover{
	color: #a9774e;
}

.faq-sidebar .category-list li a.current i,
.faq-sidebar .category-list li a:hover i{
  color: #a9774e;
}

.faq-page-section .faq-content .accordion .acc-btn.active .icon-box{
	color: #a9774e;
}

.faq-page-section .faq-content .accordion .acc-btn.active h3{
	color: #a9774e;
}

.error-section h1:after{
	background: #a9774e;
}

.error-section h3{
	color: #a9774e;
}


.pagination li a:hover,
.pagination li a.current{
	background: #a9774e;
	border-color: #a9774e;
}

.news-block-two .inner-box .text-inner .category a:hover{
	color: #a9774e;
}

.news-block-two .inner-box .text-inner .category:before,
.news-block-two .inner-box .text-inner .category:after{
	background: #a9774e;
}

.news-block-two .inner-box .text-inner h3 a:hover{
	color: #a9774e;
}

.news-block-two .inner-box .lower-box .post-info li:first-child a{
	color: #a9774e;
}

.news-block-one .inner-box .lower-content h2 a:hover{
  color: #a9774e;
}

.news-block-one .inner-box .lower-content .link a:hover{
	color: #a9774e;
}

.news-block-one .inner-box .lower-content .link a i{
	color: #a9774e;
}

.blog-sidebar .search-widget .search-form input:focus{
  border-color: #a9774e !important;
}

.blog-sidebar .search-widget .search-form input:focus + button,
.blog-sidebar .search-widget .search-form button:hover{
	color: #a9774e;
}

.blog-sidebar .widget-title{
	border-bottom: 4px solid #a9774e;
}

.blog-sidebar .category-widget .category-list li a:hover{
  border-color: #a9774e;
}

.blog-sidebar .post-widget .post-info li a{
	color: #a9774e;
}

.blog-sidebar .post-widget .post h3 a:hover{
  color: #a9774e;
}

.blog-sidebar .gallery-widget .image-list li .image{
	background: #a9774e;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background: #a9774e;
}

.blog-sidebar .voucher-widget .inner-box .content-box .discount-box{
	background: #a9774e;
}

.blog-sidebar .voucher-widget .inner-box .content-box span{
	color: #a9774e;
}

.news-block-three .inner-box .content-inner .category a{
	background: #a9774e;
}

.news-block-three .inner-box .content-inner h3 a:hover{
	color: #a9774e;
}

.news-block-three .inner-box .content-inner .post-info li:first-child a{
	color: #a9774e;
}

.news-block-three .inner-box .content-inner .post-info li a:hover{
	color: #a9774e;
}

.news-block-three .inner-box .content-inner .link a i{
	color: #a9774e;
}

.news-block-three .inner-box .content-inner .link a:hover{
	color: #a9774e;
}

.post-info-section .post-info-inner .post-info li a:hover{
	color: #a9774e;
}

.post-info-section .post-info-inner .post-info li:first-child a{
	color: #a9774e;
}

.post-info-section .post-info-inner .share-box a:hover{
  color: #a9774e;
}

.blog-details-content blockquote span{
	color: #a9774e;
}

.page-title .content-inner .category a{
	background: #a9774e;
}

.blog-details-content .post-tags .tags-list li a:hover{
  background: #a9774e;
}

.blog-details-content .author-box .designation{
	color: #a9774e;
}

.blog-details-content .author-box .social-links li a:hover{
  background: #a9774e;
}

.blog-details-content .post-nav-btn .single-btn a:hover{
  color: #a9774e;
}

.blog-details-content .post-nav-btn .single-btn a i{
	color: #a9774e;
}

.blog-details-content .post-nav-btn:before{
	color: #a9774e;
}

.blog-details-content .comments-box .comment .comment-info .comment-date{
	color: #a9774e;
}

.blog-details-content .comments-box .comment .reply-btn:hover{
  color: #a9774e;
}

.blog-details-content .comments-form-area .form-group input:focus,
.blog-details-content .comments-form-area .form-group textarea:focus{
  border-color: #a9774e !important;
}

.blog-details-content .comments-form-area .theme-btn:hover{
	background: #a9774e;
}

.contact-info-section .sec-title .theme-btn:hover{
  background: #a9774e;
}

.contact-info-section .single-info-box .icon-box{
	color: #a9774e;
}

.contact-info-section .single-info-box a{
	color: #a9774e;
}

.contact-style-two .form-inner .form-group input:focus,
.contact-style-two .form-inner .form-group textarea:focus{
  border-color: #a9774e !important;
}

.contact-style-two .form-inner .form-group .theme-btn:hover{
  background: #a9774e;
}

.quick-contact-section .contact-list .phone a:hover{
  color: #a9774e;
}

.quick-contact-section .contact-list .email a{
	color: #a9774e;
}

.gallery-block-one .inner-box .view-btn a:hover{
  background: #a9774e;
}

.gallery-block-one .inner-box .title-text h3 a:hover{
	color: #a9774e;
}

.offers-block-one .inner-box .lower-content .text span{
	color: #a9774e;
}

.offers-block-one .inner-box .lower-content h3 a:hover{
	color: #a9774e;
}

.offers-style-two .offers-block-one .inner-box .theme-btn:hover{
  background: #a9774e;
}

.room-block-two .inner-box .image-box .btn-box a{
	background: #a9774e;
}

.room-block-three .inner-box .lower-content h3 a:hover{
	color: #a9774e;
}

.room-block-three .inner-box .lower-content .other-content h3{
	color: #a9774e;
}

.room-block-three .inner-box .lower-content .link a i{
	color: #a9774e;
}

.room-block-three .inner-box .lower-content .link a:hover{
	color: #a9774e;
}

.room-block-two .inner-box .lower-content h3 a:hover{
	color: #a9774e;
}

.room-overview-section .upper-box .feature-list li span{
	color: #a9774e;
}

.feature-block-one .inner-box .icon-box{
	color: #a9774e;
}

.feature-block-one .inner-box .link a:hover{
	color: #a9774e;
}

.regulation-section .content-box .owl-nav button:hover{
  border-color: #a9774e;
}

.regulation-section .image-box .special-text{
	color: #a9774e;
}

.booking-section .bg-layer:before{
	background: #a9774e;
}

.booking-section .booking-inner .inner-box label{
	color: #a9774e;
}

.booking-section .service-list label:after{
	background: #a9774e;
}

.booking-section .service-list input:checked + label:before{
  border-color: #a9774e;
}

.booking-section .booking-inner .inner-box .extra-service .more-link a{
	border-bottom: 1px solid #a9774e;
}

.booking-section .booking-inner .inner-box .extra-service .more-link a:hover{
  color: #a9774e;
}

.booking-section .booking-inner .inner-box .btn-box .theme-btn:hover{
  background: #a9774e;
}

.restaurant-section .content-box .special-text{
	color: #a9774e;
}

.dining-options .inner-box .lower-box a i{
	color: #a9774e;
}

.dining-options .inner-box .lower-box a:hover{
	color: #a9774e;
}

.dining-options .inner-box .upper-box .overlay-content{
	background: #a9774e;
}

.meals-section .inner-column{
	background: #a9774e;
}

.meals-section .tabs-content{
	border: 60px solid #a9774e;
}

.meals-section .content-box .special-text{
	color: #a9774e;
}

.testimonial-style-two .testimonial-block .inner-box .rating li{
	color: #a9774e;
}

.testimonial-style-two.alternat-2 .testimonial-block .author-box .designation{
	color: #a9774e;
}

.booking-style-two .lower-box:before{
	background: #a9774e;
}

.booking-style-two .lower-box:after{
	background: #a9774e;
}

.booking-style-two .form-inner .form-group .icon{
	color: #a9774e;
}

.single-menu-box h4{
	color: #a9774e;
}

.menu-section .image-box .open-time{
	background: #a9774e;
}

.menu-section .owl-nav button:hover{
  border-color: #a9774e;
}

.experience-style-three .content-box .inner-box .acc-btn span{
	color: #a9774e;
}

.spa-section .left-content .content-box h3{
	border-bottom: 1px solid #a9774e;
}

.spa-section .left-content .content-box .single-item span{
	color: #a9774e;
}

.spa-section .left-content .content-box .theme-btn:hover{
  background: #a9774e;
}

.spa-section .left-content .content-box .single-item p a:hover{
  color: #a9774e;
}

.main-footer .contact-widget form .form-group button:hover{
	color: #a9774e;
}

.spa-block-one .inner-box .image-box .price{
	color: #a9774e;
}

.spa-block-one .inner-box .lower-content h3 i{
	color: #a9774e;
}

.spa-block-one .inner-box .lower-content h3 a:hover{
  color: #a9774e;
}

.spa-style-two .owl-nav button:hover{
  border-color: #a9774e;
  background: #a9774e;
}

.events-block-one .inner-box .lower-content .title-box .special-text{
	color: #a9774e;
}

.events-block-one .inner-box .lower-content .theme-btn:hover{
  background: #a9774e;
}

.content_block_two .content-box .lower-content .link a i{
	color: #a9774e;
}







































